<div id="$content{NAME}" class="content-row">
	<div id="$content{NAME}_img" class="content-row-img">
		$content{TEASER_IMG}
	</div>
	<div class="content-row-text">
		<h2><a href="$content{URL}">$content{TITLE}</a></h2>
		<div>$content{DESC} <a href="$content{URL}">Mehr lesen.</a></div>
	</div>
</div>